# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CLion
.idea/
/Reference_Implementation/.idea
/Reference_Implementation/compile_commands.json
*.json

#Rainbow-specific
/Reference_Implementation/rainbow-gen-masterkey
/Reference_Implementation/rainbow-gen-userpk
/Reference_Implementation/rainbow-gen-usersk
/Reference_Implementation/rainbow-sign
/Reference_Implementation/rainbow-verify
/Reference_Implementation/PQCgenKAT_sign
/Reference_Implementation/pk.txt
/Reference_Implementation/sk.txt
/Reference_Implementation/signature.txt
